.content-section{	
	
}

.content-frame {
	background-color: #EEE;
	margin: 1.5% 12%;
	padding: 18px 6px;
	text-align: left;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.content {
	background-color: #fdfdfd;
	padding: 10px 25px 25px 25px;
	text-align: left;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.title_toggle_container {
	position: relative;    
	margin-top: 15px;
    background-color: hsla(0, 0%, 93%, 0.58);
    padding: .2em .5em;
    padding-left: 40px;
    border: 1px solid #CCC;
    border-left: 5px solid #275990;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.title_toggle_container:before {
	content: '';
    background-image: url('../images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    position: absolute;
    left: 10px;
    width: 20px;
    height: 89%;   
}

.title_toggle_container div {
	border-left: 1px solid #ccc;
	padding: .5em 1em;
	position: relative;
}

.title_toggle_container div  h2 {
	color: rgba(18,47,94,0.85);
    font-weight: bold;
}

.title_toggle_container div h3 {
	margin-top: 3px;
    font-size: .95em;
    color: #999;
    text-indent: 15px;
}

.title_toggle_container.active {
	border-left: 5px solid #48802C;
}

.title_toggle_container.active:before {
    background-image: url('../images/arrow-up.png');
    height: 84%;    
}

.title_toggle_container.active div h2{
	color: rgba(72,128,44,0.9);
}

.toggle_container {
	overflow: hidden;
	padding: .5em 1.2em;    
    border: 1px solid #ccc;
    border-top: 0px;
    font-size: .9em;
}

.toggle_container p {
	text-align: justify;
}

.toggle_container fieldset {
	padding: 1em 1.3em;
}

.toggle_container .objetivo-geral {
	clear: both;
}

.toggle_container .left {
	float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 1%;
}

.toggle_container .left .detalhes {
	
}

.toggle_container .left .conteudo-programatico {
	
}

.toggle_container .right {
	float: left;
    width: 50%;
    box-sizing: border-box;
    padding-left: 1%;
}

.toggle_container .right .modulos {
	padding-top: .2em;
}

.toggle_container .right .botaoPreInscricao {
	display: inline-flex;
    float: right;
    padding-top: 2em;
}

.message {
	background: #f3f8fc url(../images/skin/information.png) 8px 50%
		no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageErro {
	background: #f2dede url(../images/skin/exclamation.png) 8px 50%
		no-repeat;
	border: 1px solid #ebccd1;
	color: #a94442;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageAlerta {
	background: #fcf8e3 url(../images/msgwarn.png) 8px 50% no-repeat;
	border: 1px solid #faebcc;
	color: #8a6d3b;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageSucesso {
	background: #dff0d8 url(../images/true.png) 8px 50% no-repeat;
	border: 1px solid #d6e9c6;
	color: #3c763d;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.spinner {
	padding: 5px;
	position: absolute;
	right: 0;
}

.carregando {
	color: #666;
	display: none;
}

.filter {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;
	overflow: hidden;
	padding: 3px 3px;
	margin: 0 0 5 0;
}