.content-frame {
	background-color: #EEE;
	margin: 1.5% 12%;
	padding: 18px 6px;
	text-align: left;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.content {
	background-color: #fdfdfd;
	padding: 10px 25px 25px 25px;
	text-align: left;
	border: 1px solid #CCC;
	border-radius: 3px;
}

.content #titulo.trigger {
	position: relative;    
	margin-top: 15px;
    background-color: hsla(0, 0%, 93%, 0.58);
    padding: .2em .5em;
    padding-left: 40px;
    border: 1px solid #CCC;
    border-left: 5px solid #275990;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
}

.content #titulo.trigger:before {
	content: '';
    background-image: url('../images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    position: absolute;
    left: 10px;
    width: 20px;
    height: 89%;   
}

.content #titulo.trigger #content {
	border-left: 1px solid #ccc;
	padding: .5em 1em;
	position: relative;
}

.content #titulo.trigger #content h2 {
	color: rgba(18,47,94,0.85);
    font-weight: bold;
}

.content #titulo.trigger #content h3 {
	margin-top: 3px;
    font-size: .95em;
    color: #999;
    text-indent: 15px;
}

.content #titulo.trigger.active {
	border-left: 5px solid #48802C;
}

.content #titulo.trigger.active #content h2{
	color: rgba(72,128,44,0.9);
}

.content #titulo.trigger.active:before {
    background-image: url('../images/arrow-up.png');
    height: 84%;    
}

.toggle_container {
}

.toggle_container .block {
	overflow: hidden;
	padding: .5em 1.2em;    
    border: 1px solid #ccc;
    border-top: 0px;
}

.toggle_container .block p {
	float: left;
	padding: 5px 0;
	margin: 12px;
	text-align: justify;
}

.toggle_container h3 {
	text-align: left;
	color: #006699;
	margin: 0 0 10px;
	padding: 0 8px 5px 18px;
	background: url(../images/arrow.png) no-repeat 0 0;
}

.toggle_container img {
	float: left;
	margin: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.toggle_container ul {
	float: left;
}

.toggle_container li {
	list-style-type: none;
	margin-bottom: 20px;
	background: #FFFFFF;
	width: 425px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	padding: 0px;
	overflow: hidden;
}

.toggle_container li  span {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.message {
	background: #f3f8fc url(../images/skin/information.png) 8px 50%
		no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageErro {
	background: #f2dede url(../images/skin/exclamation.png) 8px 50%
		no-repeat;
	border: 1px solid #ebccd1;
	color: #a94442;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageAlerta {
	background: #fcf8e3 url(../images/msgwarn.png) 8px 50% no-repeat;
	border: 1px solid #faebcc;
	color: #8a6d3b;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageSucesso {
	background: #dff0d8 url(../images/true.png) 8px 50% no-repeat;
	border: 1px solid #d6e9c6;
	color: #3c763d;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.spinner {
	padding: 5px;
	position: absolute;
	right: 0;
}

.carregando {
	color: #666;
	display: none;
}

.filter {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;
	overflow: hidden;
	padding: 3px 3px;
	margin: 0 0 5 0;
}