.header-section {	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d4f8b+0,4e78a0+40,4e78a0+40,7d9ec0+100 */
	background: rgb(13,79,139); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(13,79,139,1) 0%, rgba(78,120,160,1) 40%, rgba(78,120,160,1) 40%, rgba(125,158,192,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(13,79,139,1) 0%,rgba(78,120,160,1) 40%,rgba(78,120,160,1) 40%,rgba(125,158,192,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(13,79,139,1) 0%,rgba(78,120,160,1) 40%,rgba(78,120,160,1) 40%,rgba(125,158,192,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d4f8b', endColorstr='#7d9ec0',GradientType=0 ); /* IE6-9 */
}

.logo-siged {
	background-image: url("../images/logo-siged.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px;
    width: 120px;
    height: 105px;
    display: inline-block;
    text-indent: -99999px;
}

.logo-siged-label {
	font-family: Cambria, Georgia, serif;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1.6em;
    text-align: left;
    position: absolute;
    left: 8.5em;
    top: 1.05em;
    text-shadow: 1px 1px 5px rgb(14, 77, 130);
}

.logo-siged-label #sistema {
	display: block;
	font-size: 1.8em;
}

.logo-siged-label #de {
	font-size: 1.2em;
}

.logo-siged-label #gestao {
	font-size: 1.5em;
}

.logo-siged-label #educacional {
	display: block;
	font-size: 1.3em;
	line-height: .9em;
}

#header-content {
	height: 7em;
	position: relative;
	margin: 0px 12%;
	color: #FFF;
}

#header-content #links{
	position: absolute;
    right: 0;
    background-color: #26466D;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #4B89c3;
    color: #4B89C3;    
}

#header-content #links a{
	color: #B9D3EE;
    font-size: .78em;
    padding: 0 1em;
    
    transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

#header-content #links a:hover{
	color: #F0F8FF;
}

#logo-siged-div {
	position: absolute;
    top: .3em;
}

#login-ul {
	position: absolute;
    top: 4em;
    right: 0em;
}

#login-button {
	float: right;
	cursor: pointer;
	
	margin-right: 1.9em;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

#login-button:hover {
	color: #B9D3EE;
}

#login-icon {
	margin-right: .5em;
}

#upArrow:before{
    content: '';
    border-left: .8em solid transparent;
    border-right: .8em solid transparent;
    border-bottom: .8em solid #516A88;
    position: absolute;
    top: 1.45em;
    right: 3em;
    z-index: 2;
}

#upArrow{
	display: none;
}

#login-div {
	position: absolute;
    right: 0;
    top: 2.2em;
    display: none;
    background-color: rgba(80, 105, 135, 1);
    border-radius: 6px;
   	-webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
    padding: 2em 1em;    
    width: 15em;
    z-index: 1;
}

#login-button {
	color: #FFF;
    text-shadow: 0px 0px 3px rgb(14, 77, 130);
}

#login-div .login-input-group{
	display: inline-table;
    position: relative;
    border-collapse: separate;
    margin-bottom: .8em;
    background: #cccccc;
    border-radius: 4px;
}

#login-div .login-input-before{
	color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px 0px 0px 4px;
    display: table-cell;
    border-right: none;
    padding: 0 .5em;
    vertical-align: middle;
}

#login-div .login-input {
	border: 1px solid #cccccc;
    border-radius: 0px 4px 4px 0px;
    color: #006699;
}

#login-div .login-input:focus {
	border-color: #4d90fe;
	outline: none;
}

#login-div #j_password {
	
}

#login-entrar {
	padding: .7em 2em;
    margin: .5em 0em 1.5em 0em;
    background-color: #58708C;
    border: 1px solid #CCCCCC;
}

#login-entrar:hover {
	color: #122F5E;
    background-color: rgb(253, 253, 253);
}

#login-div > a {
	font-size: .9em;
	color: #B9D3EE;
	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

#login-div > a:hover {
	color: #F0F8FF;
}