@mixin border-radius($raio: 3px){
    -webkit-border-radius: $raio;
    border-radius: $raio;
}
@mixin box-shadow {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}
@mixin box-shadow-inset {
    -webkit-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.2);
}
@mixin transition {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}