html * {
	margin: 0;
}

/* GENERAL */
.spinner {
	padding: 5px;
	position: absolute;
	right: 0;
}

.filter {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #666;
	font-size: 10px;
	overflow: hidden;
	padding: 3px 3px;
	margin: 0 0 5 0;
}

body {
	background: #fff;
	color: #333;
}

.carregando {
	color: #666;
	display: none;
}

#grailsLogo {
	padding: 20px;
}

a:link, a:visited, a:hover {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

h1 {
	color: #48802c;
	font-weight: normal;
	font-size: 16px;
	margin: .8em 0 .8em 0;
}

h3 {
	font-style: italic;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 11px verdana, arial, helvetica, sans-serif;
	padding: 2px 4px;
}

select {
	padding: 2px;
	max-width: 780px;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid #b2d1ff;
}

.body {
	float: left;
	margin: 0 0px 0px 0px;
	text-align: left;
	width: 100%;
}

/* NAVIGATION MENU */
.nav {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-style: solid none solid none;
	margin-top: 5px;
	padding: 7px 12px;
}

.menuButton {
	font: 11px verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	padding: 0 5px;
}

.menuButton a {
	color: #333;
	padding: 4px 6px;
}

.menuButton a.home {
	background: url(../images/skin/house.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.list {
	background: url(../images/skin/database_table.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.menuButton a.create {
	background: url(../images/skin/database_add.png) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

/* MESSAGES AND ERRORS */
.message {
	background: #f3f8fc url(../images/skin/information.png) 8px 50%	no-repeat;
	border: 1px solid #b2d1ff;
	color: #006dba;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageErro {
	background: #f2dede url(../images/skin/exclamation.png) 8px 50%	no-repeat;
	border: 1px solid #ebccd1;
	color: #a94442;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageAlerta {
	background: #fcf8e3 url(../images/msgwarn.png) 8px 50%	no-repeat;
	border: 1px solid #faebcc;
	color: #8a6d3b;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.messageSucesso {
	background: #dff0d8 url(../images/true.png) 8px 50%	no-repeat;
	border: 1px solid #d6e9c6;
	color: #3c763d;
	margin: 10px 0 5px 0;
	padding: 5px 5px 5px 30px;
	border-radius: 3px;
}

.inscricoesEncerradas {
	display: inline;
	background: #fcf8e3 url(../images/msgwarn.png) 5px 50% no-repeat;
	color: #8a6d3b;	
	border: 1px solid;
	border-color: #faebcc;
	border-radius: 3px;
	padding: 1px 5px 1px 25px;	
}

div.errors {
	background: #fff3f3;
	border: 1px solid red;
	color: #cc0000;
	margin: 10px 0 5px 0;
	padding: 5px 0 5px 0;
}

div.errors ul {
	list-style: none;
	padding: 0;
}

div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
	line-height: 16px;
	padding-left: 30px;
}

td.errors select {
	border: 1px solid red;
}

td.errors input {
	border: 1px solid red;
}

/* TABLES */
table {
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	padding-top: 10px;
}

tr {
	border: 0;
}

td, th {
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 12px;
	padding: 8px 6px;
	text-align: left;
	vertical-align: center;
}

th {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	color: #333;
	font-size: 10px;
	font-weight: bold;
	line-height: 17px;
	padding: 2px 6px;
}

th a:link, th a:visited, th a:hover {
	color: #333;
	display: block;
	font-size: 10px;
	text-decoration: none;
	width: 100%;
}

th.asc a, th.desc a {
	background-position: right;
	background-repeat: no-repeat;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #fff;
}

.hidden {
	display: none;
}

/* LIST */
.list table {
	border-collapse: collapse;
}

.list th, .list td {
	border-left: 1px solid #ddd;
}

.list th:hover, .list tr:hover {
	background: #b2d1ff;
}

/* PAGINATION */
.paginateButtons {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-top: 0;
	color: #666;
	font-size: 10px;
	overflow: hidden;
	padding: 10px 3px;
}

.paginateButtons a {
	background: #fff;
	border: 1px solid #ccc;
	border-color: #ccc #aaa #aaa #ccc;
	color: #666;
	margin: 0 3px;
	padding: 2px 6px;
}

.paginateButtons span {
	padding: 2px 3px;
}

/* DIALOG */
.dialog table {
	padding: 5px 0;
}

.prop {
	padding: 5px;
}

.prop .name {
	text-align: left;
	width: 15%;
	white-space: nowrap;
}

.prop .name2 {
	text-align: left;
	width: 15%;
	white-space: nowrap;
}

.prop .value {
	text-align: left;
	width: 85%;
}

/* ACTION BUTTONS */
.buttons {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	color: #666;
	font-size: 10px;
	margin-top: 5px;
	overflow: hidden;
	padding: 0;
	text-align: left;
	/* width:788px; */
}

.buttons input {
	background: #fff;
	border: 0;
	color: #333;
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	margin-left: 3px;
	overflow: visible;
	padding: 8px 10px;
}

.buttons #command {
	display: inline-block;
}

.buttons input.delete {
	background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.edit {
	background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.save {
	background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
	padding-left: 28px;
}

.buttons input.filter {
	background: transparent url(../images/skin/funnel.png) 5px 50% no-repeat;
	padding-left: 28px;
}

#linkPreInscricao {	
	background: #367ab7; /* Old browsers */
	background: -moz-linear-gradient(top,  #367ab7 0%, #285c93 60%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#367ab7), color-stop(60%,#285c93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #367ab7 0%,#285c93 60%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #367ab7 0%,#285c93 60%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #367ab7 0%,#285c93 60%); /* IE10+ */
	background: linear-gradient(to bottom,  #367ab7 0%,#285c93 60%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#367ab7', endColorstr='#285c93',GradientType=0 ); /* IE6-9 */	
	
	padding: 10px 20px;    
    color: #FFF;
    
    font-size: 15px;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 1px -1px #003366;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba;
    
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;    
}

#linkPreInscricao:hover, #linkPreInscricao:focus {
   	background: #285c93; /* Old browsers */
	background: -moz-linear-gradient(top,  #285c93 40%, #367ab7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#285c93), color-stop(100%,#367ab7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #285c93 40%,#367ab7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #285c93 40%,#367ab7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #285c93 40%,#367ab7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #285c93 40%,#367ab7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#285c93', endColorstr='#367ab7',GradientType=0 ); /* IE6-9 */    
    
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.search {
	background: url(../images/lupa.png) no-repeat;
	width: 25px;
    border: 0;	
}

.search:hover {
	background: url(../images/lupa-azul.png) no-repeat;
	width: 25px;
    border: 0;	
}

.search:focus {
    border: 0;	
}

.botao{
	cursor: pointer;
    padding: 5px 8px;		   
    border: 1px solid #23507C;
    border-radius: 2px;
    margin: 15px 6px 5px 0px;
	background-color:#2A6098;
    color: #FFF;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;      
}

.botao:hover {
    background-color: #377CBA;
    border: 1px solid #2D66A0;
    border-radius: 2px;
}

.botao:disabled{
	cursor: default;
    padding: 5px 8px;		   
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    margin-top: 14px;
	background: #F1F1F1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FCFCFC, #F1F1F1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FCFCFC, #F1F1F1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FCFCFC, #F1F1F1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FCFCFC, #F1F1F1); /* Standard syntax */
    color: #777;
    text-shadow: none;   
}

.botaoSair{
	background:url(../images/power.png) no-repeat center;
	background-size: 14px 14px;
	cursor: pointer;
    padding: 3px 12px;		   
    border: none;
    background-color: rgba(46, 105, 163, 0);   
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;         
}

.botaoSair:hover {
	background:url(../images/poweron.png) no-repeat center;
	background-size: 14px 14px;
}

.botaoSairDiv{
	float: right;
    width: 10%;
    margin-top: 14px;
    margin-right: 14px;
}

.bemVindoDiv{
	float: left;
    text-align: center;
    display: block;
    width: 80%;
    margin-top: 15px;
    margin-left: 30px;
}

.divcheck {
	float: left;
}

.check {
	float: left;
}

.divcheck label{
	margin-left: 5px;
    margin-right: 15px;
}

fieldset {				
   	width: 460px;
   	padding: 12px;
	border: 1px solid #CCCCCC;
}

legend {
	padding: 0px 4px;
}