html {
    height: 100%;
    margin-bottom: 1px;
}

form {
    margin: 0;
    padding: 0;
}

body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 1.3em;
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    color: #333;
    background-color:#FFFFFF;
}

.usuario {
	color: white;	
}

.usuario a:link, .usuario a:visited {
	color: white;	
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {

}

input.button { 
	cursor: pointer; 
}

p { 
	margin-top: 0; margin-bottom: 5px; 
}

img { 
	border: 0 none; 
}

#page_bg{
    background:#EEEEEE url(../images/bkg.png) repeat-x left top;
}

#centro{
    margin:0 auto;
    text-align:center;
    background:url(../images/bkg.jpg) repeat-x 0 0;
    width:100%;
    height:100%;

}

div#header{
    height:102px;
    position: relative;
}

div#marca_icp{
    background:url(../images/marca_ipc.png) no-repeat left top;
    height:92px;
    width:430px;
    float:left;
}

div#marca{
    width: 200px;
    position: absolute;
    top: 2.1em;
    right: 2.5em;
}

div#login{
    background:url(../images/login_bkg.png) repeat-x left top;
    height:50px;
    width:auto;
    width:450px;
    float:left;
}

.loginLabel{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 13px;
    font-weight: bolder;
    text-shadow: 1px 1px #003366;
    margin-right: 23px;
}

.bemVindoLabel{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    text-shadow: 1px 1px #003366;
}

div#login .login{

    width:100px;    
    margin-top:11px;    
    margin-bottom: 12px;
    margin-right: 8px;
    margin-left: 0px;
    border: 1px solid rgb(185,185,185);
    border-top-color: rgb(160,160,160);
    border-radius: 2px;
    font-size:10px;
    color:#006699;
    padding-left:5px;
    padding-right:5px;
}

div#login .login:focus{
    border-color: #4d90fe;
    outline: none;
}

div#login_left{
    background:url(../images/login_left.png) no-repeat left top;
    height:50px;
    width:auto;
}

 div#login_right{
    background:url(../images/login_right.png) no-repeat right top;
    height:50px;
    width:auto;
}

div#geral{
    margin-left:auto;
    margin-right:auto;
    height:auto;
    width:994px;
    padding-top:3px;
}

#btok{float:left; margin-top:5px; }
#btok li{ float: left; list-style: none; }
#btok li a{ display: block; width: 25px; height: 25px; background: url(../images/bt_ok.png) no-repeat; }
#btok li a span	{ display: none; }
#btok li .ok{ background-position: 0px 0px; }
#btok li .ok:hover{ background-position: 0px -25px; }

#omenu{
    width:100%;
    height:60px;
    margin:auto 0;
    text-align:center;
}

/* .bordaBox {background: transparent; width:808px; margin:auto;} */
.bordaBox {background: transparent; margin:auto;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b4, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b, .bordaBox .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox .b1, .bordaBox .b2, .bordaBox .b3, .bordaBox .b1b, .bordaBox .b2b, .bordaBox .b3b {height:1px;}
.bordaBox .b2, .bordaBox .b3, .bordaBox .b4 {background:#EEEEEE; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.bordaBox .b1 {margin:0 5px; background:#ccc;}
.bordaBox .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox .b3 {margin:0 2px;}
.bordaBox .b4 {height:2px; margin:0 1px;}
.bordaBox .conteudo {padding:2px;display:block; background:#EEEEEE; border-radius: 5px; border: 1px solid #ccc;}
.bordaBox .conteudo h2 { font-size:18px; margin:20px; color:#006699; text-align:right;}
/* .bordaBox2 {background: transparent; width:798px; margin:2px;} */
.bordaBox2 {background: transparent; margin:2px;}
.bordaBox2 .b1, .bordaBox2 .b2, .bordaBox2 .b3, .bordaBox2 .b4, .bordaBox2 .b1b, .bordaBox2 .b2b, .bordaBox2 .b3b, .bordaBox2 .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox2 .b1, .bordaBox2 .b2, .bordaBox2 .b3, .bordaBox2 .b1b, .bordaBox2 .b2b, .bordaBox2 .b3b {height:1px;}
.bordaBox2 .b2, .bordaBox2 .b3, .bordaBox2 .b4 {background:#FFFFFF; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.bordaBox2 .b1 {margin:0 5px; background:#ccc;}
.bordaBox2 .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox2 .b3 {margin:0 2px;}
.bordaBox2 .b4 {height:2px; margin:0 1px;}
.bordaBox2 .conteudo {margin: 20px 0px 6px 0px; padding: 5px; display:block; background:#FFFFFF; border-left:1px solid #ccc; border-right:1px solid #ccc; height:auto; overflow:hidden;}
.bordaBox3 {background: transparent; width:1010px; margin:auto;}
.bordaBox3 .b1, .bordaBox3 .b2, .bordaBox3 .b3, .bordaBox3 .b4, .bordaBox3 .b1b, .bordaBox3 .b2b, .bordaBox3 .b3b, .bordaBox3 .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox3 .b1, .bordaBox3 .b2, .bordaBox3 .b3, .bordaBox3 .b1b, .bordaBox3 .b2b, .bordaBox3 .b3b {height:1px;}
.bordaBox3 .b2, .bordaBox3 .b3, .bordaBox3 .b4 {background:#EEEEEE; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.bordaBox3 .b1 {margin:0 5px; background:#ccc;}
.bordaBox3 .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox3 .b3 {margin:0 2px;}
.bordaBox3 .b4 {height:2px; margin:0 1px;}
.bordaBox3 .conteudo {padding:1px;display:block; background:#EEEEEE; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.bordaBox3 .conteudo h2 { font-size:18px; margin:20px; color:#006699; text-align:right;}
.bordaBox4 {background: transparent; width:1000px; margin:2px;}
.bordaBox4 .b1, .bordaBox4 .b2, .bordaBox4 .b3, .bordaBox4 .b4, .bordaBox4 .b1b, .bordaBox4 .b2b, .bordaBox4 .b3b, .bordaBox4 .b4b {display:block; overflow:hidden; font-size:1px;}
.bordaBox4 .b1, .bordaBox4 .b2, .bordaBox4 .b3, .bordaBox4 .b1b, .bordaBox4 .b2b, .bordaBox4 .b3b {height:1px;}
.bordaBox4 .b2, .bordaBox4 .b3, .bordaBox4 .b4 {background:#FFFFFF; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.bordaBox4 .b1 {margin:0 5px; background:#ccc;}
.bordaBox4 .b2 {margin:0 3px; border-width:0 2px;}
.bordaBox4 .b3 {margin:0 2px;}
.bordaBox4 .b4 {height:2px; margin:0 1px;}
.bordaBox4 .conteudo {padding-left:4px;display:block; background:#FFFFFF; border-left:1px solid #ccc; border-right:1px solid #ccc; height:auto; overflow:hidden;}

*, * focus {
    outline: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 788px;
    margin: 0 auto;
}

h1 span { 
	color: #666; 
}

h1 small{
    font: 0.3em normal Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    letter-spacing: 1.5em;
    display: block;
    color: #666;
}
.conteudo #titulo.trigger {
	display: table;
	margin-top: 5px;
	width: 100%;
}
.conteudo #titulo.trigger h2 {
    padding-left:50px;
    margin: 0px;
    background: url(../images/h2_trigger_a.png) no-repeat;
    height: 46px;
    line-height: 20px;
    width: 100%;
    font-size: 16px;
    text-align: left;
    color:#006699;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;    
}

.conteudo #titulo.trigger h2 a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.conteudo #titulo.trigger h2 a:hover {
    color: #ccc;
}

.conteudo #titulo.trigger.active h2 {
	background-position: left bottom;
}

.toggle_container {
    margin: 0 0 5px;
    padding: 0;
    border-top: 1px dashed #d6d6d6;
    background: #f0f0f0 url(../images/toggle_block_stretch.gif) repeat-y left top;
    overflow: hidden;
    font-size: 12px;
    clear: both;
    background-size: 988px 1px; 
}

.toggle_container .block {
    padding-left: 32px;
    padding-top: 15px;
    background: url(../images/toggle_block_btm.gif) no-repeat left bottom;
    overflow:hidden;
}

.toggle_container .block p {
    float:left;
    padding: 5px 0;
    margin: 12px;
    text-align:justify;
}
.toggle_container h3 {
    font-size: 18px;
    text-align:left;
    color:#006699;
    margin: 0 0 10px;
    padding: 0 8px 5px 18px;
    background: url(../images/arrow.png) no-repeat 0 0;
}
.toggle_container img {
    float: left;
    margin: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}   

.toggle_container ul {
    float:left;
}

.toggle_container h3 {
    margin:0px;
}

.toggle_container li {
    list-style-type:none;
    margin-bottom: 20px;
    background: #FFFFFF;
    width:425px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 0px;
    overflow:hidden;
}   
.toggle_container li  span{
    font-size:10px;
    float:right;
    margin-top:10px;
    margin-right:10px;
}

#avalia{
    text-align:right;
    width:425px;
}


.esq li{
    list-style-type:none;
    margin: 0px 50px 20px 0 !important;
    background: #FFFFFF;
    width:425px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 0px;
    overflow:hidden;
}   

#titulosiged {
	height:23px;
}

#titulosiged h2{
	font-size:21px; 
	color:#FFFFFF; 
	text-align:left; 
	margin-left:20px; 
	margin-top:10px;
	text-shadow: 1px 1px #003366;
}

.crudlist {
	width:20px;
}

.error {
	font-weight: bold;
	color: red;
}

.centeredImage {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    float: none;
}

.submit {
    cursor: pointer;
    color: #FFF !important;
    background-color: rgba(46, 105, 163, 0);   
    margin-right: 2px;
    margin-left: 5px;
    border: 1px solid #9DB2C7;
    border-radius: 2px;
    font-size: 10px;
    color: #006699;
    padding: 3px 8px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
}

.submit:hover {
    color: #006699 !important;
    background-color: #f3f8fc;
    border: 1px solid #2D66A0;
    border-radius: 2px;
}